ion-title{
    font-weight: 600;
}
ion-button{
    font-weight: 600;
}
ion-input{
    --placeholder-color:rgb(36, 112, 252); 
    --placeholder-opacity: 100;
}
ion-label{
    --placeholder-color:rgb(36, 112, 252); 
}